.operation{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	margin: 10px;
	font-weight: bolder;
	font-size: 25px;
	background: inherit;
	border-radius: 40px;
	border-style: solid;
}

.operation:hover{
	color: black;
	background: cyan;
	border-style: solid;
}

.operation_pair{
	display: flex;
}